name: Export Modpack

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: nu {0}

jobs:
  export:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip!')"
    steps:
      - uses: actions/checkout@v4
      - uses: hustcer/setup-nu@v3
        with:
          version: "*"
          enable-plugins: true

      - name: Get Info
        id: info
        run: |
          let pack = (open ./pack.toml)
          print $env

  # build:
  #   needs:
  #     - get-info
  #   env:
  #     version: ${{ needs.get-info.outputs.version }}
  #     name_snake: ${{ needs.get-info.outputs.name_snake }}
  #     name: ${{ needs.get-info.outputs.name }}
  #     deps: ${{ needs.get-info.outputs.deps }}
  #   strategy:
  #     matrix:
  #       include:
  #         - platform: modrinth
  #           extension: mrpack
  #           runner: ubuntu-latest
  #
  #         - platform: curseforge
  #           extension: zip
  #           runner: ubuntu-latest
  #   runs-on: ${{ matrix.runner }}
  #   permissions: write-all
  #   defaults:
  #     run:
  #       shell: bash
  #   if: needs.get-info.outputs.LASTTAG != needs.get-info.outputs.version
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #
  #     - name: Prepare
  #       id: prepare
  #       run: |
  #         mkdir -p ./build
  #         echo "body<<EOF" >> "${GITHUB_OUTPUT}"
  #         cat ./CHANGELOG-LATEST.md >> "${GITHUB_OUTPUT}"
  #         echo "EOF" >> "${GITHUB_OUTPUT}"
  #
  #     - name: Setup packwiz CLI
  #       uses: vspr-sh/packwiz-setup-action@master
  #
  #     - name: Export
  #       id: export
  #       run: |
  #         packwiz ${{ matrix.platform }} export -o ./build/${{ env.name_snake }}.${{ matrix.extension }}
  #         echo "export=./build/${{ env.name_snake }}.${{ matrix.extension }}" >> "${GITHUB_OUTPUT}"
  #
  #     - name: Upload mr package to workflow artifacts
  #       uses: actions/upload-artifact@v6
  #       with:
  #         path: ${{ steps.export.outputs.export }}
  #         name: ${{ env.name_snake }}-${{ matrix.platform }}
  #         retention-days: 1
  #
  #     - uses: Kir-Antipov/mc-publish@v3.3
  #       if: matrix.platform == 'modrinth'
  #       with:
  #         modrinth-id: p1qfuGUm
  #         modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
  #
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #         github-tag: ${{ env.version }}
  #
  #         files: ${{ steps.export.outputs.export }}
  #         name: ${{ env.name }} v${{ env.version }}
  #         version: ${{ env.version }}
  #         version-type: release
  #         changelog-file: CHANGELOG-LATEST.*
  #
  #         loaders: neoforge
  #         game-versions: 1.21.1
  #         dependencies: ${{ env.deps }}
  #
  #     - uses: Kir-Antipov/mc-publish@v3.3
  #       if: matrix.platform == 'curseforge'
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #         github-tag: ${{ env.version }}
  #
  #         files: ${{ steps.export.outputs.export }}
  #         name: ${{ env.name }} v${{ env.version }}
  #         version: ${{ env.version }}
  #         version-type: release
  #         changelog-file: CHANGELOG-LATEST.*
  #
  #         loaders: neoforge
  #         game-versions: 1.21.1
  #         dependencies: ${{ env.deps }}
