name: Export Modpack

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: nu {0}

jobs:
  export:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip!')"
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: hustcer/setup-nu@v3
        with:
          version: "*"
          enable-plugins: true

      - name: Get Info
        id: info
        run: |
          let pack = (open ./pack.toml)
          let changelog = (open ./CHANGELOG-LATEST.md | lines | skip 5 | str join "\n")
          let dependencies = (ls **/*.pw.toml
            | where name =~ '(resourcepacks|shaders|mods)'
            | each {|file| open $file.name }
            | each {|mod| {
                project_id: $mod.update.modrinth.mod-id,
                version_id: $mod.update.modrinth.version,
                dependency_type: "embedded" }}
            | to json -r)
          if (not ("out" | path exists)) { mkdir out }
          $"version=($pack.version)
          loaders=($pack.versions | columns | where ($it != "minecraft") | to json -r)
          game-versions=($pack.versions.minecraft)
          name=($pack.name)
          name-kebab=($pack.name | str kebab-case)
          outfile=out/($pack.name | str kebab-case).mrpack
          dependencies=($dependencies)
          changelog<<CHG
          ($changelog)
          CHG
          " | save -a $env.GITHUB_OUTPUT

      - uses: vspr-sh/packwiz-setup-action@master
      - name: Packwiz export
        run: ^packwiz modrinth export -o ${{ steps.info.outputs.outfile }}

      - name: Upload package to workflow artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ steps.info.outputs.outfile }}
          name: ${{ steps.info.outputs.name-kebab }}.mrpack
          retention-days: 1

      - name: Upload package to GitHub release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.info.outputs.outfile }}
          asset_name: ${{ steps.info.outputs.name-kebab }}.mrpack
          release_name: ${{ steps.info.outputs.name }}-${{ steps.info.outputs.game-versions }}-${{ steps.info.outputs.version }}
          tag: ${{ steps.info.outputs.version }}
          body: ${{ steps.info.outputs.changelog }}
          overwrite: true

      - uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRINTH_TOKEN }}
          project: p1qfuGUm
          version: ${{ steps.info.outputs.version }}
          loaders: ${{ steps.info.outputs.loaders }}
          game-versions: ${{ steps.info.outputs.game-versions }}
          files: ${{ steps.info.outputs.outfile }}
          name: ${{ steps.info.outputs.name }}-${{ steps.info.outputs.game-versions }}-${{ steps.info.outputs.version }}
          changelog: ${{ steps.info.outputs.changelog }}
          status: ${{ contains(github.ref_name, 'test') && 'draft' || 'listed' }}
          dependencies: ${{ steps.info.outputs.dependencies }}
