name: Export Modpack

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  get-info:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip!')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine version number, pack name and last version number
        id: cat
        run: |
          echo $(cat ./pack.toml | grep "version = ") | sed -r 's/version = //' | sed -r 's/[" ]//g' | echo "version=$(< /dev/stdin)" >> "${GITHUB_OUTPUT}"
          echo $(cat ./pack.toml | grep "name = ") | sed -r 's/name = //' | sed -r 's/[\" \:]//g' | sed -r 's/([a-z0-9])([A-Z])/\1-\2/g' | tr '[:upper:]' '[:lower:]' | echo "name_snake=$(< /dev/stdin)" >> "${GITHUB_OUTPUT}"
          echo $(cat ./pack.toml | grep "name = ") | sed -r 's/name = //' | sed -r 's/[\"]//g' | echo "name=$(< /dev/stdin)" >> "${GITHUB_OUTPUT}"
          echo "LASTTAG=$(git describe --tags --abbrev=0)" >> "${GITHUB_OUTPUT}"
          deps=$(cat ./dependencies.txt)
          echo "deps=${deps//$'\n'/\\n}" >> "${GITHUB_OUTPUT}"
    outputs:
      version: ${{ steps.cat.outputs.version }}
      name_snake: ${{ steps.cat.outputs.name_snake }}
      name: ${{ steps.cat.outputs.name }}
      LASTTAG: ${{ steps.cat.outputs.LASTTAG }}
      deps: ${{ steps.cat.outputs.deps }}

  build:
    needs:
      - get-info
    env:
      version: ${{ needs.get-info.outputs.version }}
      name_snake: ${{ needs.get-info.outputs.name_snake }}
      name: ${{ needs.get-info.outputs.name }}
      deps: ${{ needs.get-info.outputs.deps }}
    strategy:
      matrix:
        include:
          - platform: modrinth
            extension: mrpack
            runner: ubuntu-latest

          - platform: curseforge
            extension: zip
            runner: ubuntu-latest
    runs-on: ${{ matrix.runner }}
    permissions: write-all
    defaults:
      run:
        shell: bash
    if: needs.get-info.outputs.LASTTAG != needs.get-info.outputs.version
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare
        id: prepare
        run: |
          mkdir -p ./build
          echo "body=(cat ./CHANGELOG-LATEST.md)" >> "${GITHUB_OUTPUT}"

      - name: Setup packwiz CLI
        uses: vspr-sh/packwiz-setup-action@master

      - name: Export
        id: export
        run: |
          packwiz ${{ matrix.platform }} export -o ./build/${{ env.name_snake }}.${{ matrix.extension }}
          echo "export=./build/${{ env.name_snake }}.${{ matrix.extension }}" >> "${GITHUB_OUTPUT}"

      - name: Upload mr package to workflow artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ${{ steps.export.outputs.export }}
          name: ${{ env.name_snake }}-${{ matrix.platform }}
          retention-days: 1

      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ matrix.platform == 'modrinth' && 'p1qfuGUm' || null }}
          modrinth-token: ${{ matrix.platform == 'modrinth' && secrets.MODRINTH_TOKEN || null }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-tag: ${{ env.version }}

          files: ${{ steps.export.outputs.export }}
          name: ${{ env.name }} v${{ env.version }}
          version: ${{ env.version }}
          version-type: release
          changelog-file: CHANGELOG-LATEST.*

          loaders: neoforge
          game-versions: 1.21.1

          dependencies: appleskin(embedded)\namendments(embedded)
